* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body {
  background: #fff;
  color: #333230;
  font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

/* Form Layout */
.form-wrapper {
  background: #f0f5ff;
  margin: 5rem auto;
  padding: 0 1em;
  max-width: 370px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fff;
  border: 0.1px solid #ccc8c0;
  border-bottom: 5px solid #ccc8c0;
  color: #666460;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
  padding-left: 10px;
}

.form-item input:focus {
  border-bottom: 2px solid #ccc8c0;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #ffaa00;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
  border-radius: 5px;
}

.button:hover {
  background: #3377ff;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #666460;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #3377ff;
}