@charset "UTF-8";

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  width: 65%;
  max-width: 600px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.modal-header h1 {
  padding: 10px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modalClose {
	font-size: 40px;
	margin-right: 10px;
	margin-left: auto;
}

.modalClose:hover {
	cursor: pointer;
}

.modal-body {
  padding: 10px;
  color: black;
}